.navbar{
    background-color: white;
    border-radius:0px 0px 16px 16px ;
}

.navbar-brand{
   font-size: 26px;
   font-weight: 480;
}
.nav-item{
  margin-left: 56px;
}

.cover{
    margin-top: -24px;
    background-color: black;
    padding-top: 120px;
    padding-bottom: 96px;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items:center ;
}
.title{
    font-size: 48px;
    font-family: 'Gentium Book Plus', serif;
font-family: 'Milonga', cursive;
font-family: 'Trispace', sans-serif;
}
.info{
    margin-top: 56px;
    margin-left: 32px;
}
.lead{
    
    font-size: 8px;
    line-height: 22px;
}
.about{
    margin-top: 120px;
}
.info-image{
  display: flex;
  justify-content: center;
  align-items: center;
}
.offre{
    margin-top: 144px;
}
.card{
    background-color: white;
    box-shadow: 3px 3px 6px rgb(179, 177, 177);
    width: 80%;
}
.contact-form{
    height: 640px;
    background-color: rgb(241, 241, 241);
}

.form-control{
    border: none;
    border-bottom: 1px solid black;
    margin: 3px;
}
.button{
    margin-left:auto;
}
.contact{
    margin-top: 80px;
}
.contact-info{
    background-image: url("images/contact.png");
    height: 640px;
    width: 480px;
   background-position: center;
   background-size:cover;  
}
.envoyer{
    margin-top: 24px;
    width: 160px;
}
.cnct{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mycontact>p{
    width: 240px;
}
.icons{
    margin-top: 16px;
    width: 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer{
    background-color: black;

}
.links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.links>a{
    text-decoration: none;
    margin-top: 16px;
}